In [20]:
import os
os.chdir("C:\\Users\\akars\\OneDrive\\Desktop\\MScA Spring\\Data Mining\\Project\\Final Project\\IMDB Datasets")
import pandas as pd

In [2]:
from pandas import DataFrame
name_basics = DataFrame.from_csv('name.basics.tsv', sep="\t")
title_basics = DataFrame.from_csv('title.basics.tsv', sep="\t")
title_akas = DataFrame.from_csv('title.akas.tsv', sep="\t")
title_crew = DataFrame.from_csv('title.crew.tsv', sep="\t")
title_principals = DataFrame.from_csv('title.principals.tsv', sep="\t")
title_ratings = DataFrame.from_csv('title.ratings.tsv', sep="\t")

C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\akars\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  after removing the cwd from sys.path.
C:\Users\akars\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """
C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  import sys

In [3]:
def float_generator(mylist):
    newlist = []
    for n in mylist:
        try:
            newlist.append(float(n))
        except ValueError:
            newlist.append(3000);
    return newlist

In [4]:
title_basics.index.name = 'tconst'
title_basics.reset_index(inplace=True)


title_basics.head(5)
title_basics.startYear = float_generator(title_basics.startYear)

title_basics = title_basics[(title_basics.startYear <= 2005)]
#title_basics = title_basics[(title_basics.titleType == "movie")]

In [5]:
title_crew.index.name = 'tconst'
title_crew.reset_index(inplace=True)

In [6]:
title_principals.index.name = 'tconst'
title_principals.reset_index(inplace=True)

In [7]:
title_ratings.index.name = 'tconst'
title_ratings.reset_index(inplace=True)

In [8]:
name_basics.index.name = 'nconst'
name_basics.reset_index(inplace=True)

In [9]:
name_basics.head()
#title_basics.count()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0072308,tt0053137,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0037382,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0057345,tt0059956,tt0049189,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0077975,tt0078723,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050986,tt0069467,tt0050976"

In [10]:
master_data = title_basics.join(title_crew.set_index('tconst'), on='tconst', how = 'left')

In [11]:
title_principals.category.unique()

array(['self', 'director', 'cinematographer', 'composer', 'producer',
       'editor', 'actor', 'actress', 'writer', 'production_designer',
       'archive_footage', 'archive_sound'], dtype=object)

In [12]:
title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [13]:
title_principals = title_principals.join(name_basics.set_index('nconst'), on='nconst', how = 'left')
title_principals = title_principals[['tconst', 'category', 'primaryName']]
title_principals = title_principals.pivot_table(index = 'tconst',  columns = ['category'], aggfunc=lambda x: ','.join(str(v) for v in x))

In [14]:
title_principals.index.name = 'tconst'
title_principals.reset_index(inplace=True)
master_data = master_data.join(title_principals.set_index('tconst'), on='tconst', how = 'left')

C:\Users\akars\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [15]:
master_data = master_data.join(title_ratings.set_index('tconst'), on='tconst', how = 'left')

In [16]:
master_data.genres.nunique()

1781

In [17]:
import re
re.split(',|\.',str(master_data.genres))

['0                 Documentary',
 'Short\n1                   Animation',
 'Short\n2          Animation',
 'Comedy',
 'Romance\n3                   Animation',
 'Short\n4                      Comedy',
 'Short\n5                             Short\n6                       Short',
 'Sport\n7                 Documentary',
 'Short\n8                           Romance\n9                 Documentary',
 'Short\n10                Documentary',
 'Short\n11         Action',
 'Documentary',
 'Short\n12                Documentary',
 'Short\n13                     Comedy',
 'Short\n14                  Animation',
 'Short\n15                Documentary',
 'Short\n16                Documentary',
 'Short\n17                            Short\n18                     Comedy',
 'Short\n19          Documentary',
 'Short',
 'Sport\n20                Documentary',
 'Short\n21                Documentary',
 'Short\n22                       News',
 'Short\n23                 News',
 'Short',
 'Sport\n24                Documentary',
 'Short\n25                Documentary',
 'Short\n26                Documentary',
 'Short\n27                Documentary',
 'Short\n28                Documentary',
 'Short\n29                Documentary',
 'Short\n                     ',
 '',
 '',
 '           \n6089259                       Short\n6089269                          \\N\n6089281                          \\N\n6089295      Action',
 'Horror',
 'Thriller\n6089314                          \\N\n6089322                       Crime\n6089374                       Crime\n6089375                      Family\n6089376                      Family\n6089388      Animation',
 'Comedy',
 'Drama\n6089393                          \\N\n6089415                 Music',
 'Short\n6089416                          \\N\n6089427                          \\N\n6089438                          \\N\n6089448                      Family\n6089450                          \\N\n6089454                      Family\n6089485                          \\N\n6089487                          \\N\n6089488                          \\N\n6089489                          \\N\n6089492                          \\N\n6089493                          \\N\n6089494                          \\N\n6089495                          \\N\n6089532                      Family\n6089533                      Family\n6089534                      Family\n6089575                   Game-Show\nName: genres',
 ' Length: 2270533',
 ' dtype: object']

In [267]:
genres = master_data.genres.str.split(',', expand=True)

In [294]:
genres[0]

8              Romance
145        Documentary
332          Biography
499                 \N
571          Biography
611              Drama
626              Drama
669              Drama
670              Drama
673          Adventure
730              Drama
784              Drama
803                 \N
805                 \N
829                 \N
833                 \N
837                 \N
841                 \N
850                 \N
853                 \N
858                 \N
859                 \N
860                 \N
870                 \N
877              Drama
882                 \N
931              Drama
937                 \N
949                 \N
973                 \N
              ...
6086157             \N
6086159             \N
6086161             \N
6086166             \N
6086167             \N
6086172             \N
6086176             \N
6086180             \N
6086188             \N
6086198             \N
6086204             \N
6086216             \N
6086234             \N
6086272         Sci-Fi
6086281             \N
6086293             \N
6086314             \N
6086709         Action
6087142         Comedy
6087663             \N
6087840             \N
6087907             \N
6088139             \N
6088149             \N
6088171             \N
6088999         Comedy
6089152    Documentary
6089206    Documentary
6089236    Documentary
6089254    Documentary
Name: 0, Length: 278311, dtype: object

In [285]:
genres[2].value_counts()

Romance        7400
Drama          5051
Thriller       4173
Mystery        2019
War            1841
Fantasy        1555
Western        1272
Family         1256
Crime          1224
Sci-Fi         1176
Musical        1175
History        1136
Music          1078
Comedy          877
Horror          872
Sport           561
Film-Noir       538
Animation       135
Documentary      56
Biography        29
News              8
Reality-TV        8
Adventure         2
Talk-Show         2
Game-Show         1
Name: 2, dtype: int64

In [297]:
master_data['Genre1'] = genres[0]
master_data['Genre2'] = genres[1]
master_data['Genre3'] = genres[2]

In [18]:
master_data[master_data.primaryTitle == "Dinosaur Planet"]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,...,"(primaryName, cinematographer)","(primaryName, composer)","(primaryName, director)","(primaryName, editor)","(primaryName, producer)","(primaryName, production_designer)","(primaryName, self)","(primaryName, writer)",averageRating,numVotes
373917,tt0389605,tvMiniSeries,Dinosaur Planet,Dinosaur Planet,0,2003.0,\N,50,"Animation,Documentary,Family",nm0504273,...,NaN,NaN,NaN,NaN,NaN,NaN,Scott Sampson,NaN,7.7,411.0

In [19]:
os.chdir("C:\\Users\\akars\\OneDrive\\Desktop\\MScA Spring\\Data Mining\\Project\\Final Project")
master_data_csv = master_data.to_csv('masterdata.csv', index = None, header = True)

In [21]:
from pandas import DataFrame 
netflixdata = DataFrame.from_csv('movie_c.csv')

C:\Users\akars\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [22]:
netflixdata.head()

   movie_id    year       movie_name  customer_id  rating        date
0         1  2003.0  Dinosaur Planet      1488844     3.0  2005-09-06
1         1  2003.0  Dinosaur Planet       822109     5.0  2005-05-13
2         1  2003.0  Dinosaur Planet       885013     4.0  2005-10-19
3         1  2003.0  Dinosaur Planet        30878     4.0  2005-12-26
4         1  2003.0  Dinosaur Planet       823519     3.0  2004-05-03

In [23]:
netflixdata = pd.merge(netflixdata, master_data, how='left', left_on=['movie_name','year'], right_on=['primaryTitle','startYear'])

In [25]:
netflixdata.to_csv('netflixdata.csv', index = None, header = True)