# Data Mining - Final Project 

## Data Mining - 31008 - Anil Chaturvedi

### Group 6 - Han Jeon, Jim Fang, Hazim Saeed, Akarsh

Import the Libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import sklearn as sk
import os
import math
import time

In [0]:
# # Load Dataset from GDrive

# !pip install -U -q PyDrive
# from pydrive.auth import GoogleAuth
# from pydrive.drive import GoogleDrive
# from google.colab import auth
# from oauth2client.client import GoogleCredentials

# # Authenticate and create the PyDrive client.
# # This only needs to be done once per notebook.
# auth.authenticate_user()
# gauth = GoogleAuth()
# gauth.credentials = GoogleCredentials.get_application_default()
# drive = GoogleDrive(gauth)


# # Download a file based on its file ID.
# # Master Data
# file_id_1 = ''
# downloaded_1 = drive.CreateFile({'id': file_id_1})
# downloaded_1.GetContentFile('netflixdata.csv')


# file_id_1 = ''
# downloaded_1 = drive.CreateFile({'id': file_id_1})
# downloaded_1.GetContentFile('masterdata.csv')

In [10]:
os.getcwd()

'/'

In [0]:
os.chdir("/")

In [0]:
df = pd.read_csv("/movie_titles.csv", error_bad_lines = False, encoding='latin-1', names = ["movie_id", "year", "movie_name"] ) #how do you concatenate other columns when importing the data into Python

FileNotFoundError: ignored

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
df.head(10)

   movie_id    year                    movie_name
0         1  2003.0               Dinosaur Planet
1         2  2004.0    Isle of Man TT 2004 Review
2         3  1997.0                     Character
3         4  1994.0  Paula Abdul's Get Up & Dance
4         5  2004.0      The Rise and Fall of ECW
5         6  1997.0                          Sick
6         7  1992.0                         8 Man
7         8  2004.0    What the #$*! Do We Know!?
8         9  1991.0      Class of Nuke 'Em High 2
9        10  2001.0                       Fighter

In [0]:
  df1 = pd.read_csv("combined_data_1.txt", names = ['customer_id', 'rating', 'date'], encoding = 'latin-1')

In [0]:
df1['movie_id'] = 'NA'

In [0]:
df1.head(934086)

       customer_id  rating        date movie_id
0          1816372     2.0  2004-07-26       NA
1          2356260     4.0  2005-05-15       NA
2           382767     2.0  2004-07-27       NA
3          1869491     1.0  2004-07-14       NA
4          1286325     3.0  2004-08-04       NA
5          1599340     1.0  2004-08-03       NA
6          2269807     2.0  2004-08-02       NA
7          1803629     3.0  2004-08-25       NA
8           585855     5.0  2004-08-11       NA
9           156752     3.0  2004-10-03       NA
10          807325     1.0  2004-07-26       NA
11          480115     2.0  2004-07-19       NA
12         1871703     4.0  2004-09-22       NA
13         1033855     4.0  2004-09-23       NA
14         1985001     3.0  2004-09-24       NA
15         2416290     2.0  2004-10-27       NA
16          425238     3.0  2004-10-28       NA
17          413334     4.0  2004-11-16       NA
18         1747954     2.0  2004-12-15       NA
19         1122530     3.0  2005-02-23       NA
20          408282     3.0  2005-05-09       NA
21          912823     5.0  2005-06-22       NA
22         1871118     3.0  2005-10-07       NA
23         1578807     2.0  2005-11-08       NA
24         1718936     5.0  2005-12-04       NA
25         1321416     3.0  2004-08-23       NA
26            2976     3.0  2004-08-23       NA
27          350021     3.0  2004-08-17       NA
28         1047788     1.0  2004-08-18       NA
29          534655     3.0  2005-08-01       NA
...            ...     ...         ...      ...
934056     2559628     3.0  2005-07-21       NA
934057      993688     4.0  2005-07-22       NA
934058      705294     5.0  2005-07-22       NA
934059     2499769     5.0  2005-07-23       NA
934060     2098983     5.0  2005-07-25       NA
934061      482951     3.0  2004-09-14       NA
934062      125821     5.0  2004-06-01       NA
934063      612804     5.0  2005-07-28       NA
934064     1396904     3.0  2004-06-18       NA
934065     2449397     5.0  2005-08-01       NA
934066     1681055     5.0  2005-08-02       NA
934067      134744     4.0  2005-08-02       NA
934068     1651185     5.0  2004-06-14       NA
934069     2399274     1.0  2005-08-04       NA
934070      703687     5.0  2005-08-12       NA
934071     2531854     4.0  2005-08-12       NA
934072     1668365     5.0  2005-08-12       NA
934073     1171397     5.0  2005-08-12       NA
934074      300286     3.0  2005-08-14       NA
934075      821832     5.0  2005-08-15       NA
934076      680981     4.0  2005-08-15       NA
934077     2328582     5.0  2005-08-15       NA
934078      856654     4.0  2005-08-16       NA
934079      873723     5.0  2005-08-16       NA
934080     2461079     5.0  2005-08-18       NA
934081      189861     5.0  2005-08-18       NA
934082     1762296     4.0  2005-08-19       NA
934083      300908     5.0  2004-09-06       NA
934084      167949     3.0  2004-08-18       NA
934085     1319516     5.0  2005-08-23       NA

[934086 rows x 4 columns]

In [0]:

df1.shape[0]+1

24007294

In [0]:
df2= pd.DataFrame(df1[df1['rating'].isnull()].index.values.astype(int))
df2.head(1501)

            0
0        1306
1        1580
2       41333
3       41857
4      160271
5      160493
6      162348
7      169239
8      169348
9      170188
10     171128
11     171410
12     172213
13     172966
14     173458
15     173552
16     173681
17     173787
18     182289
19     184909
20     191468
21     193819
22     197411
23     197643
24     197972
25     198063
26     203211
27     203326
28     203486
29     205893
...       ...
1471  7435200
1472  7435292
1473  7436205
1474  7437380
1475  7437813
1476  7447464
1477  7450817
1478  7451037
1479  7451422
1480  7452243
1481  7454127
1482  7454386
1483  7494540
1484  7494942
1485  7495419
1486  7495580
1487  7497851
1488  7500131
1489  7500485
1490  7500632
1491  7500711
1492  7511700
1493  7511802
1494  7512178
1495  7516419
1496  7516546
1497  7516896
1498  7518089
1499  7522738
1500  7523911

[1501 rows x 1 columns]

In [0]:
start_time = time.time()
a= 0
b = 0
for i in range(1500):
    a = df2.iloc[i,0]
    b = df2.iloc[i+1,0]
    df1.loc[a:b, "movie_id"] = i+1
print("*****1A--- %s seconds ---" % (time.time() - start_time))

*****1A--- 805.2340149879456 seconds ---

In [0]:

# start_time = time.time()
# z = 200


# for i in range(z):
#     if(math.isnan(df1.iloc[i,1])):
#         x = df1.iloc[i,0]
        
#         for k in range(i,z):
#             df1.iloc[k, 3] = x.replace(':','')
#             if k+1 < z:
#                 if(math.isnan(df1.iloc[k+1,1])):
#                     break
# print("*****1A--- %s seconds ---" % (time.time() - start_time))

*****1A--- 166.35975551605225 seconds ---

In [0]:
df1[0:7523911]

        customer_id  rating        date movie_id
0           1816372     2.0  2004-07-26       NA
1           2356260     4.0  2005-05-15       NA
2            382767     2.0  2004-07-27       NA
3           1869491     1.0  2004-07-14       NA
4           1286325     3.0  2004-08-04       NA
5           1599340     1.0  2004-08-03       NA
6           2269807     2.0  2004-08-02       NA
7           1803629     3.0  2004-08-25       NA
8            585855     5.0  2004-08-11       NA
9            156752     3.0  2004-10-03       NA
10           807325     1.0  2004-07-26       NA
11           480115     2.0  2004-07-19       NA
12          1871703     4.0  2004-09-22       NA
13          1033855     4.0  2004-09-23       NA
14          1985001     3.0  2004-09-24       NA
15          2416290     2.0  2004-10-27       NA
16           425238     3.0  2004-10-28       NA
17           413334     4.0  2004-11-16       NA
18          1747954     2.0  2004-12-15       NA
19          1122530     3.0  2005-02-23       NA
20           408282     3.0  2005-05-09       NA
21           912823     5.0  2005-06-22       NA
22          1871118     3.0  2005-10-07       NA
23          1578807     2.0  2005-11-08       NA
24          1718936     5.0  2005-12-04       NA
25          1321416     3.0  2004-08-23       NA
26             2976     3.0  2004-08-23       NA
27           350021     3.0  2004-08-17       NA
28          1047788     1.0  2004-08-18       NA
29           534655     3.0  2005-08-01       NA
...             ...     ...         ...      ...
7525383      826484     4.0  2005-01-20       NA
7525384      406359     3.0  2005-01-24       NA
7525385      363680     2.0  2005-02-12       NA
7525386     1330662     3.0  2005-02-28       NA
7525387      395240     4.0  2005-03-03       NA
7525388     1870664     2.0  2005-04-16       NA
7525389     1256990     5.0  2005-10-14       NA
7525390     1940787     4.0  2005-10-19       NA
7525391     2239000     3.0  2005-10-19       NA
7525392     1127458     5.0  2005-11-01       NA
7525393     1589834     4.0  2005-11-02       NA
7525394     1672221     5.0  2005-11-02       NA
7525395     1406184     3.0  2005-11-26       NA
7525396      157619     5.0  2005-08-08       NA
7525397      792808     5.0  2005-08-27       NA
7525398      524142     3.0  2004-10-12       NA
7525399      139926     5.0  2004-10-14       NA
7525400     2457095     3.0  2004-10-18       NA
7525401     1816817     5.0  2004-10-19       NA
7525402      261151     3.0  2004-10-30       NA
7525403     2007884     4.0  2004-11-11       NA
7525404     1234014     3.0  2004-11-20       NA
7525405      823802     3.0  2004-12-21       NA
7525406     2531469     3.0  2004-12-23       NA
7525407       36123     4.0  2004-12-27       NA
7525408      786787     4.0  2004-12-28       NA
7525409       73989     4.0  2004-12-30       NA
7525410     1158822     5.0  2005-01-19       NA
7525411     1175411     4.0  2005-02-18       NA
7525412      270861     5.0  2005-07-04       NA

[7523911 rows x 4 columns]

In [0]:
df1=df1.dropna()
df3=pd.merge(df, df1[0:7523911],  how='inner', on='movie_id')

In [0]:
df3.to_csv('movie_c.csv', sep=',')